/* WHOLE WEBSITE */
body{
  background: url('images/gym_pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/* ========================================== */

/* TRAINER TOP SECTION */
.container{
  max-width: 90%;
  margin: 0 auto;
}

.trainer-grid{
  position: absolute;
}

.trainer-grid div{
  border: 1px solid white;
}


#red, #stephanie, #ashCatchNone{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
}


.pokemon{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 80%;
}
/* ================================= */

/* PICTURE CSS */
#redTrainer{
  max-width: 44%;
}

#lassTrainer{
  max-width: 50%;
}

#ashTrainer{
  max-width: 50%;
}

#imageMove{
  margin-left: 15%;
  margin-top: 3%;
  padding-top: 1.4%;
}

#lassMove{
  margin-left: 7%;
  margin-top: 3%;
  padding-top: 1.4%;
}

.move{
  position: fixed;
  margin-left: 13%;
  bottom:85%;
  color: #fc7148;
  letter-spacing: 0.8px;
}

.ball{
  max-width: 45%;
  margin-left: 35%;
  margin-top: 25%;
}

.lassBall{
  max-width: 45%;
  margin-top: 50%;
  margin-left: 35%;
}
.ashBall{
  max-width: 45%;
  margin-top: 40%;
  margin-left: 26%;
}

/* ================================== */
/* POKEMON INFO BOTTOM SECTION */
.pokemon-grid{
  margin-top: 2%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 30vh;
}

.pokemon-grid div{
  border: 1px solid white;
}

.list {
  color: #fff;
  font-size: 1.13em;
  line-height: 1.6;
  padding: 7% 10%;
  list-style-type: none;
  text-transform: capitalize;
}
