/* WHOLE WEBSITE */
body{
  background: url('images/gym_pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/* ========================================== */

/* TRAINER TOP SECTION */
.container{
  max-width: 90%;
  margin: 0 auto;
}

.trainer-grid{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 3%;
  grid-template-rows: 90vh;
}


.trainer-grid div{
  border: 1px solid white;
}


#red, #stephanie, #ashCatchNone{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
}


.pokemon{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 80%;
}
/* ================================= */

/* PICTURE CSS */
#redTrainer{
  max-width: 45%;
}

.infoTrainer{
  /* margin-left: 50%; */
  /* margin-top: 50%; */
}

#imageMove{
  margin-left: 15%;
  margin-top: 3%;
}

.ball{
  max-width: 50%;
  margin-left: 35%;
}
/* ================================== */
/* POKEMON INFO BOTTOM SECTION */
.pokemon-grid{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 30vh;
}

.pokemon-grid div{
  border: 1px solid white;
}
